<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq1n6pjU83gcyvcz-EYCuKobo_JAwQ15E</string>
	<key>GCM_SENDER_ID</key>
	<string>700349146614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerem.AudioDoc-NeonApps</string>
	<key>PROJECT_ID</key>
	<string>audio-doc</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-doc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700349146614:ios:dd749769899d966abc13d7</string>
</dict>
</plist>